.act{
    width: 65px;
    height: cover;
    border: 1px solid rgb(209, 40, 40);
}
.no-act{
    width: 65px;
    height: 65px;
}
.thumbnail-button{
    background-color: transparent;
    height: 65px;
    border: none
}